*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}


nav{
  padding: .8rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}


nav > ul{
  list-style-type: none;
}


nav li{
  margin: .5rem;
  display: inline-block;
}


#intro{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}


#intro > h2, #intro > p{
  margin-bottom: 1rem;
}


#intro button{
  color: white;
  font-weight: bold;
  background-color: #C2395B;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 25px;
}


#info{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}


#info > h2{
  margin-bottom: 1rem;
}


#info > .card{
  border: 1px solid black;
  display: inline-block;
  width: 30%;
  margin-left: .5rem;
  margin-right: .5rem;
  padding: 5px;
  vertical-align: top;
  min-height: 110px;
}


#info h3{
  margin-bottom: 1rem;
}


.inner-footer{
  margin: 0;
  padding: 0;
 background-color: darkolivegreen;
 text-align: left;
}


.col{
  display: inline-block;
  width: 20%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px;
  min-height: 50px;
}


.col > h4{
  text-align: left;
  margin-bottom: .6rem;
  color: burlywood;
  font-size: 1.2rem;
  font-family: Arial;
}


.col > ul{
  list-style-type: none;
  text-align: left;
  line-height: 1.4rem;
}


.col > ul > li{
  color: white;
  font-size: 1.2rem;
  font-family: Calibri;
}


.outer-footer span{
  margin-left: 1rem;
  margin-right: 1rem;
 text-align: left;
}

